.country-card {
    border: 1px solid black; 
    border-radius: 10px; 
    padding: 20px;
    margin-bottom: 5px; 
    background-color: #fff;
    cursor: default; /* Set cursor to default */
}

.country-card:hover {
    cursor: default; /* Keep cursor default on hover */
}

#backToTop {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 1000;
}

.custom-navbar {
    background-color: #dcdcdc; 
}

#all-countries-page .btn-warning {
    color: white;
}

.country-link {
    text-decoration: none;
    color: inherit;
}

.single-country-card img {
    max-width: 100%;  
    height: auto;    
}
