<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All Countries</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link  th:href="@{/css/styles.css}" rel="stylesheet"/>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/faves">Favorite Countries</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/welcome">Welcome Page</a>
              </li><li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/all">All Countries</a>
              </li>
            </ul>


            <!-- <form class="d-flex" id="search-form" onsubmit="return false;">
                <input id="search-input" class="form-control me-2" type="search" placeholder="Search.." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <div id="dropdown" class="dropdown-list"></div>
            </form> -->

          </div>
        </div>
      </nav>

    <div class="container-fluid mt-5">
        <p class="h1 mb-3">A list of All Countries: </p>
        
        <div class="row">
            <div class="col-12 mb-4" th:each="country : ${countries}">
                <div th:replace="country-card :: card(country=${country})"></div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <p class="mb-0" style="font-size: fs-6;">
              <span th:text="'Showing ' 
                  + (${currentPage} * 20 + 1) 
                  + '-' 
                  + (${currentPage == totalPages - 1} ? ${totalCountries} : (${currentPage} + 1) * 20)
                  + ' of ' 
                  + ${totalCountries} 
                  + ' results'">
              </span>
          </p>
      
          <div class="pagination-container" style="overflow-x: auto; white-space: nowrap;">
            <nav aria-label="Page navigation">
                <ul class="pagination mb-4 flex-nowrap">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/all(page=${currentPage - 1})}" th:if="${currentPage > 1}">Previous</a>
                        <a class="page-link" th:if="${currentPage == 1}">Previous</a>
                    </li>
        
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:text="${i}" th:href="@{/all(page=${i})}"></a>
                    </li>
        
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/all(page=${currentPage + 1})}" th:if="${currentPage < totalPages}">Next</a>
                        <a class="page-link" th:if="${currentPage == totalPages}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        
        
      
          <button id="backToTop" class="btn btn-outline-dark" style="display: none;">
            <i class="bi bi-arrow-up"></i> Back to Top
        </button>
        
      </div>
      <script th:src="@{/js/scripts.js}"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
